.links-container {
  float: left;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: peru;
}
a:hover {
  color: red;
}
a:active {
  color: black;
}
